.btn {
  border: none;
  border-radius: .5rem;
  font-size: 1.5rem;
  font-weight: 700;
  transition: transform .3s;
  display: none;
  font-size: 1rem;
  padding: .5rem;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}