.column {
  margin: 1rem;
  width: 20rem;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column__header {
  position: relative;
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
