.column {
  margin: 1rem;
  width: 20rem;
}

.column__header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column__header:hover .btn {
  display: block;
}
