.modal {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  border: none;
  border-radius: .5rem;
  padding: 1.5rem;
  min-width: 30rem;
}

.modal::backdrop {
  background-color: #4C566ADD;
}

.modal h2 {
  margin: 0 1rem 2rem;
}

.modal__actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.modal span {
  font-size: 1rem;
}

