.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #81A1C1;
  border-radius: .5rem;
  display: none;
}

.overlay.visible {
  display: flex;
  justify-content: center;
  align-items: center;
}
